.feedback-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 164px;
}

.feedback-form__left {
    display: flex;
    flex-direction: column;
}

.feedback-form__right {
    margin-top: 29px;
}

.feedback-form__label {
    font-size: 16px;
    line-height: 26px;
    margin-top: 29px;
}

.feedback-form__input {
    border-width: 0px;
    border-style: solid;
    border-color: black;
    border-bottom-width: 1px;
    outline: none;
    width: 438px;
}

.feedback-form__submit {
    border-radius: 0px;
    border: none;
    background-color: black;
    color: white;
    height: 48px;
    width: 226px;
    margin: 32px 0px;
}

.feedback-form__contacts {
    font-size: 32px;
    margin: 80px 0px;
}

.feedback-form__disclaimer {
    font-size: 14px;
}

.disclaimer__link {
    color: black;
    text-decoration-style: dashed;
}

@media screen and (max-width: 1200px) {
    .feedback-form__input {
        width: 300px;
    }
}

@media screen and (max-width: 960px) {
    .feedback-form {
        flex-direction: column;
        margin-bottom: 64px;
    }
    .feedback-form__input {
        width: 100%;
    }
    .feedback-form__contacts {
        margin: 40px 0px;
    }
}