.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
}

.vacancy-block {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 20px;
  width: 100%;
}

.vacancy-block__left-part {
  flex-basis: 40%;
}

.vacancy-block__logo {
  margin-bottom: 50px;
}

.vacancy-block__logo img {
  max-height: 150px;
  max-width: 100%;
}

.vacancy-block__right-part {
  flex-basis: 55%;
  position: relative;
}

.vacancy-block__name {
  font-size: 32px;
  line-height: 160%;
}

.vacancy-block__description_hidden {
  height: 300px;
  overflow: hidden;
}

.vacancy-block__description_expanded {
  height: fit-content;
}

.vacancy-block__expand-input {
  width: 100%;
  margin: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #545454;
  position: relative;
  z-index: 11;
}

.vacancy-block__description_gradient-enabled::after {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgb(255, 255, 255));
  bottom: 0px;
  height: 100px;
  width: 100%;
  z-index: 11;
}

.vacancy-block__description_gradient-disabled::after {
  display: none;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
    padding: 0 60px;
  }
}

@media screen and (max-width: 960px) {
  .container {
    max-width: 100%;
    padding: 0 25px;
  }

  .vacancy-block {
    flex-direction: column;
  }

  .vacancy-block__name {
    font-size: 22px;
    line-height: 35px;
  }
}